@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --primary-color: #4F46E5;
    --dark-gray: #6B7280;
    --off-white: #F3F4F6;
}

body {
    font-family: 'Lato',
        sans-serif;
    margin: 0px;
}

hr {
    margin: 2rem 0rem;
}

/** container **/
.container {
    padding: 0rem 1rem;

}

.container-center {
    max-width: 600px;
    margin: auto;

}

/** links **/
.link {

    text-decoration: none;


}


.link-primary {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: white;
    text-decoration: none;
    margin: 0.5rem;
    margin-top: 2vh;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    padding: 0.5rem 1rem;
    text-decoration: none;
    margin: 0.5rem;
}

/** lists **/

.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/** navigation **/

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    margin: 0.5rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-style: inherit;
    font-size: x-large;

}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;

}

.navigation .link-active {
    font-weight: bold;
}

/** header **/

.about {
    padding: 2rem;
    text-align: center;
}

.about .about-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.about .about-heading {
    text-align: center;
    color: var(--dark-gray);
}

.about .about-heading .heading-inverted {
    color: var(--primary-color);
}

.hero {
    padding: 2rem;
    text-align: center;
}

.hero .hero-img {
    max-width: 350px;

    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    color: var(--dark-gray);
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

/** sections **/

.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;

}

.ow {
    background-color: var(--off-white);
}

/** footers **/

footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    color: white;
    text-align: center;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;

}

.footer .link {
    color: white;

}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
    color: black;
    
}

.footer ul {
    padding-inline-start: 0px;
}

.date {
    font-size: 1rem;
}

.project-header {
    padding: 1.5rem;
    margin-top: 2rem;
    margin: 00.5rem;
    text-align: center;
    background-color: #A5B4FC;
    border-radius: 1rem;
    display: block;
}

.project-para {
    font-size: larger;
    
}